<footer>

    <div class="footer-nav" style="display: none;">
        <ul>
            <li><a class="react" gaevent="imt/ft/index" href="{:U('Index/index')}">首页</a>
            </li>
            <li><a class="react" gaevent="imt/ft/order" rel="nofollow" href="{:U('User/index')}">我的订单</a>
            </li>

        </ul>
    </div>
    <div class="footer-links">友情链接：
        <a gaevent="OutLink|Click|imt/ft/maoyan" target="_blank" href="#">百度搜索</a>
    </div>
    <div class="footer-copyright">
        <div class="hr"></div>
        <span class="footer-copyright-text">©2016  重庆辰驰物流有限公司</span>
    </div>
</footer>